/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;

    font-family: 'Poppins' , sans-serif;
}
:root{
    --black:#000;
    --yellow:#ffb703;
    --orange:#fb8500;
    --white:#fff;
  
    --darkblue:#023047;
    --darkblue-d25:#012435;
    --darkblue-d50:#011823;
    --darkblue-d75:#000C12;
    --darkblue-l85:#D9E0E3;
    
    --midBlue:#219ebc;
    --midBlue-d50:#104F5E;
    --midBlue-d25:#19768D;
    --midblue-l85:#DEF0F5;
    --midblue-l70:#BCE2EB;
    --midblue-l60:#A6D8E4;
  
    --lightblue:#8ecae6;
    --lightblue-d25:#6A97AD;
    --lightblue-l85:#EEF7FB;
    --lightblue-l90:#F4FAFD;
    --lightblue-l50:#C7E5F3;
}

img{
    max-width: 100%;
}
a{
    color: var(--black);
}
body{
    padding-top: 138px;
    background-color: var(--white);
    min-width: 340px;
    background-color: var(--lightblue-l90);
}
#app{
    width: 100%;
    height: 100%;

}
section{
    max-width: 1200px;
    margin: 0 auto;
}




/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* header styling */
header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    transition: transform 0.3s ease;
    box-shadow: 0px 0px 5px var(--lightblue-d25) ;
}
header.scrolling {
    transform: translateY(-32px);
}
header .h-row{
    width: 100%;
    display: flex;
}
header .h-row .container{
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .h-row .container .col-wrapper{
    display: flex;
    align-items: center;
}
/* first row  */
header .h-row-first{
    font-size: 14px;
    height: 32px;
    align-items: center;
    background-color: var(--darkblue-d75);
    border-bottom: var(--lightblue-l50);
}
header .h-row-first p ,header .h-row-first a {
    color: var(--lightblue-l90);
    font-size: 12px;
}
header .h-row-first .col-el:not(:last-child){
    margin-right: 32px;
}
/* second row */
header .h-row-second{
    height: 74px;
    padding-block: 12px;
    background-color: var(--lightblue-l90);
}
header .h-row-second .container{
    justify-content: center;
}
header .h-row-second .col-wrapper{
    height: 50px;
}
header .h-row-second .col-wrapper.logo{
    margin-right: auto;
}
header .h-row-second .col-wrapper.logo a {
    height: 40px;
    max-height: 200px;
}
header .h-row-second .col-wrapper.logo .logo-img{
    height: inherit;
    max-width: inherit;
    object-fit: contain;
}
header  .h-row-second .col-wrapper.search-input input{
    width: 250px;
    height: 34px;
    background-color: transparent;
    padding-inline: 6px;
    box-shadow: none;
    border: 2px solid var(--midBlue);
    border-right: none;
    border-radius: 4px 0 0 4px;
}
header  .col-wrapper.search-input input:focus{
    border: 2px solid var(--midBlue-d25);
    border-right: none;
}
header  .h-row-second .col-wrapper.search-input label{
    height: 34px;
    width: 36px;
    background-color: var(--midBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}
header  .h-row-second .col-wrapper.search-input{
    margin-inline: auto;
}
header  .h-row-second .col-wrapper.search-input label img{
    width: 24px;
    height: 24px;
}
header  .h-row-second .col-wrapper.carts{
    margin-right: 32px;
}
header  .h-row-second .col-wrapper.carts .col-el{
    display: flex;
    align-items: center;
}
header  .h-row-second .col-wrapper.carts .col-el:not(:last-child){
    margin-right: 8px;
}
header  .h-row-second .col-wrapper.carts .col-el a{
    display: flex;
    align-items: center;
}
header  .h-row-second .col-wrapper.carts .col-el a .icon{
    height: 28px;
    max-height: 28px;
    margin-right: 4px;
}
header  .h-row-second .col-wrapper.carts .col-el a .txt{
    line-height: 14px;
    font-size: 12px;
    font-weight: 500
}
header  .h-row-second .col-wrapper.carts .col-el .count{
    padding-inline: 4px;
    color: var(--midBlue);
}
header  .h-row-second .col-wrapper.carts .col-el .total{
    text-decoration: underline;
    padding-inline: 4px;
}
header  .h-row-second .col-wrapper.account .btn{
    display: flex;
    align-items: center;
    height: 34px;
    padding-inline: 12px;
    border-radius: 4px;
}
header  .h-row-second .col-wrapper.account .small-device-btn{
    display: none;
}
header  .h-row-second .col-wrapper.account .btn.login{
    background-color: var(--midBlue);
    color: var(--lightblue-l90);
}
header  .h-row-second .col-wrapper.account .btn.login:hover{
    background-color: var(--midBlue-d25);
}
header  .h-row-second .col-wrapper.account .btn.signup{
    background-color: var(--midblue-l70);
}
header  .h-row-second .col-wrapper.account .btn.signup:hover{
    background-color: var(--midblue-l60);
}
header  .h-row-second .col-wrapper.account .btn.customer{
    background-color: var(--midblue-l70);
}
header  .h-row-second .col-wrapper.account .btn.customer .customer-name{
    max-width: 110px;

    display:inline;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
header  .h-row-second .col-wrapper.account .btn.customer:hover{
    background-color: var(--midblue-l60);
}
header  .h-row-second .col-wrapper.account .btn.customer img{
    height: 20px;
    margin-right: 4px;
}
header  .h-row-second .col-wrapper.account .btn:not(:last-child){
    margin-right: 8px;
}







/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* BANNERS SECTION STYLING */
#banners-sec{
    width: 100%;
}
#banners-sec .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}    
#banners-sec .container .banner-view{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}   
#banners-sec .container .banner-view::-webkit-scrollbar{
    display: none;
}
#banners-sec .container .banner-view .banner-wrapper{ 
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    display: none;

}

#banners-sec .container .banner-view .banner-wrapper.active{ 
    display: block;
}
#banners-sec .container .banner-view .banner-wrapper img{ 
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
#banners-sec .container .banner-view .banner-wrapper img.big-img{ 
    display: block;
}
#banners-sec .container .banner-view .banner-wrapper img.small-img{ 
    display: none;
}
#banners-sec .container .banner-view .labels{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateX(+50%);
    position: absolute;
    right: 50%;
    bottom: 24px;
}
#banners-sec .container .banner-view .labels .slide-label{
    width: 40px;
    height: 4px;
    opacity: 0.75;
    background-color: var(--midblue-l85);
    cursor: pointer;
}
#banners-sec .container .banner-view .labels .slide-label.active{
    background-color: var(--midBlue-d25);
}
#banners-sec .container .banner-view .labels .slide-label:not(:last-child){
    margin-right: 6px;
}
#banners-sec .container .banner-view .banner-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
#banners-sec .container .banner-view .banner-right-btn{
    right: 12px;
}
#banners-sec .container .banner-view .banner-left-btn{
    left: 12px;
}
#banners-sec .container .banner-view .banner-btn .btn img{
    width: 30px;
    opacity: 0.75;
}
#banners-sec .container .banner-view .banner-btn .btn img:hover{
    background-color: #00000026;
}
#banners-sec .container .banner-view .banner-btn .r-btn img{
    transform: rotate(-90deg);
}
#banners-sec .container .banner-view .banner-btn .l-btn img{
    transform: rotate(90deg);
}

@media (max-width:600px) {
    #banners-sec .container .banner-view .banner-wrapper img.big-img{ 
        display: none;
    }
    #banners-sec .container .banner-view .banner-wrapper img.small-img{ 
        display: block;
    }
    #banners-sec .container .banner-view .labels .slide-label{
        width: 30px;
        height: 3px;
    }
    #banners-sec .container .banner-view .labels{
        bottom: 16px;
    }
    #banners-sec .container .banner-view .banner-right-btn{
        right: 8px;
    }
    #banners-sec .container .banner-view .banner-left-btn{
        left: 8px;
    }
    #banners-sec .container .banner-view .banner-btn .btn img{
        width: 24px;
    }
}




/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* deal and featured products section */
#d-f-products{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 32px;
}
#d-f-products .container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    grid-template-rows: 1fr;
    gap: 24px;
}
#d-f-products .container .deal-products{
    width: 100%;
    height: 100%;
}
#d-f-products .container .featured-products{
    width: 100%;
    height: 100%;
}
#d-f-products  .deal-products .content{
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    padding: 16px 6px;
    align-items: center;
    border: 1px solid var(--black02);
    border-top: none;
}
#d-f-products  .featured-products .content{
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    padding: 16px 6px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--black02);
    border-top: none;

}
/* deal products */
#d-f-products .d-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
}
#d-f-products .d-product .img{
    width: 260px;
    height: 260px;
}

#d-f-products .d-product .infos{
    width: calc(100% - 270px);
    padding: 6px;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
}

#d-f-products .d-product .infos #timer {
    width: 100%;
    padding: 6px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
}
#d-f-products .d-product .infos #timer .timer-txt{
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    margin-right: 6px;
} 
#d-f-products .d-product .infos #timer div {
    margin: 0 6px;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    background-color: var(--orange);
    padding: 6px;
    border-radius: 5px;
}

#d-f-products .d-product .infos .products-data{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding-left: 0px;
}
#d-f-products .d-product .infos .products-data div:not(:last-child){
    margin-bottom: 8px;   
}
#d-f-products .d-product .infos .products-data .name-txt{
    font-weight: 300;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}
#d-f-products .d-product .infos .products-data .price{
    font-size: 24px;
    font-weight: 400;
    display: flex;
    align-items: baseline;
}
#d-f-products .d-product .infos .products-data .price .old-price{
    font-size: 20px;
}
#d-f-products .d-product .infos .products-data .cta{
    width: 100%;
}
#d-f-products .d-product .infos .products-data .buy-btn{
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: 1px solid var(--black);
    transition: all 0.3s ease;
}
#d-f-products .d-product .infos .products-data .buy-btn:hover{
    background-color: var(--orange);
    color: var(--white);
    border: var(--orange);
}
/* featured products */
#d-f-products .f-product{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    padding: 0 6%;
}
#d-f-products .content .f-product:nth-child(n + 4){
    display: none;
}
#d-f-products .f-product:not(:last-child){ 
    margin-bottom: 16px;
}
#d-f-products .f-product .img{
    width: 110px;
    height: 110px;
    background-color: var(--orange);
}
#d-f-products .featured-products .infos div:not(:last-child){
    margin-bottom: 12px;
}
#d-f-products .featured-products .infos .name-txt{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
            line-clamp: 1; 
    -webkit-box-orient: vertical;
    font-size: 18px;
    font-weight: 300;
}
#d-f-products .featured-products .infos .price{
    display: flex;
    align-items: baseline;
    font-size: 18px;
    font-weight: 300;
}
#d-f-products .featured-products .infos .price .real-price{
    font-size: 20px;
    font-weight: 400;
}
#d-f-products .featured-products .infos{
    width: calc(100% - 115px);
    padding-left: 6px ;
}
#d-f-products .featured-products .rating span img{
    width: 20px;
    height: 20px;
}
#d-f-products .featured-products .rating span{
    width: 20px;
    height: 20px;
}



/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* products listings styling */
#products-listing{
    width: 100%;
    margin-top: 32px;
}
#products-listing .collections-wrappers:not(:first-child){
    margin-top: 32px;
}
#products-listing .collections-wrappers .content{
    padding: 32px 0;
}
.products-cards-wrapper{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 16px;
    row-gap: 32px;
}
.product-card {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--black02);
    border-radius: 6px;
    padding: 8px;
    background-color: var(--white);
    /* sos */
    background-color: var(--lightblue-d25);
}
.product-card .product-info{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.product-card .product-image {
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
}
.product-card .product-image img {
    width: 100%;
    max-width: 100%;
    max-height: 290px;
    object-fit: cover;
}
.product-card .product-name {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
            line-clamp: 2; 
    -webkit-box-orient: vertical;
    min-height: 55px;
}
  
.product-card .product-price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
} 
.product-card .product-price .real-price{ 
    line-height: 24px;
}
.product-card .product-price .old-price{
   margin-left: 0px;
   font-size: 16px;
   text-decoration: line-through;
   color: var(--orange);
}
.product-card .product-ratings{
    margin-bottom: 8px;
}
.product-card .cta{
    width: 100%;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-card .buy-now-btn {
    width: 100%;
    height: 38px;
    font-size: 18px;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--black);
    transition: all 0.3s ease;
}
  
.product-card .buy-now-btn:hover {
    background-color: var(--orange);
    border: 1px solid var(--orange);
    color: var(--white);
}
  








/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* footer */
footer{
    width: 100%;
    height: auto;
    min-height: 120px;
    background-color: var(--black);
    margin-top: 64px;
}
.footer-container{
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin-inline:auto;
    padding-block: 32px;
}
.footer-container .content{
    width: 100%;
    height: 100%;
    display: grid;
    column-gap: 16px;
    grid-template-columns: 2fr 1fr 1fr;
}
.footer-container .row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--white);
    padding: 8px 0;
}
.footer-container .row .row-title h2{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
}
.footer-container .row img{
    max-width: 90%;
    width: 200px;
}
.footer-container .row .row-content{
    display: flex;
    flex-direction: column;
}
.footer-container .row .row-content a{
    color: var(--white);
    font-weight: 300;
}
.footer-container .first-row .sub-row{
    display: flex;
    align-items: center;
}
.footer-container .row .row-content a:not(:last-child){
    margin-bottom: 8px;
}
.footer-container .first-row .sub-row:not(:last-child){
    margin-bottom: 24px;
}
.footer-container .first-row .sub-row h2{
    font-size: 16px;
    font-weight: 500;
    margin-right: 32px;
    
}
.footer-container .first-row .sub-row ul{
    display: flex;
}
.footer-container .first-row .sub-row ul li{
    display: block;
}
.footer-container .first-row .sub-row ul li:not(:last-child){
    margin-right: 16px;
    
}
.footer-container .first-row .sub-row ul a{
    display: flex;
    align-items: center;
}
.footer-container .first-row .sub-row ul .social-media img{
    height: 18px;
    width: 18px;
    max-width: 24px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(78deg) brightness(103%) contrast(101%);
}
.footer-container .first-row .sub-row .copy-right span{
    font-size: 16px;
}
.footer-container .first-row .sub-row .copy-right a{
    text-decoration: underline;
    color: var(--white);
}
.footer-container .first-row .sub-row .copy-right{
    font-size: 14px;
}






/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* Shopping carrt styling */
#shopping-cart{
    width: 350px;
    max-height: 100vh;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    z-index: 90;
    background-color: var(--white);
    box-shadow: -0px 0px 5px var(--black02);
    display: none;
}
#shopping-cart.show{
    display: block;
}
#shopping-cart::-webkit-scrollbar {
    width: 10px;
}
#shopping-cart::-webkit-scrollbar-track {
    background: var(--white); 
}
#shopping-cart::-webkit-scrollbar-thumb {
    background: var(--black02); 
}
#shopping-cart::-webkit-scrollbar-thumb:hover {
    background: var(--black08); 
}
#shopping-cart .container{
    width: 100%;
    height: 100%;
    padding: 32px 16px;
    padding-top: 124px;
}
#shopping-cart .container .empty-cart{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#shopping-cart .container .empty-cart div:not(:last-child){
    margin-bottom: 16px;
}
#shopping-cart .container .empty-cart .img{
    width: 100%;
    opacity: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;
}
#shopping-cart .container .empty-cart .img img{
    width: 30%;
}
#shopping-cart .container .empty-cart .txt{
    width: 100%;
    opacity: 0.5;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
#shopping-cart .container .empty-cart .txt *:not(:last-child){
    margin-bottom: 8px;
}

#shopping-cart .container .full-cart{
    width: 100%;
    height: 100%;
}
#shopping-cart .full-cart .added-tc-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#shopping-cart .full-cart .added-tc-wrapper .title{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 2px solid var(--orange);
    color: var(--orange);
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 16px;
}
#shopping-cart .full-cart .added-tc-wrapper .products{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
}
#shopping-cart .full-cart .added-tc-wrapper .products .added-product{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--black02);
}
#shopping-cart .full-cart .added-tc-wrapper .products .added-product:not(:last-child){
    margin-bottom: 8px;
}
#shopping-cart .full-cart .added-tc-wrapper .products .added-product .img{
    width: 100px;
    height: 100px;
}
#shopping-cart .full-cart .added-tc-wrapper .products .added-product .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#shopping-cart .full-cart .added-tc-wrapper .products .added-product .infos{
    width: calc(100% - 100px);
    padding-left: 16px;
}
#shopping-cart .full-cart .added-tc-wrapper .added-product .infos div:not(:last-child){
    margin-bottom: 8px;
}
#shopping-cart .full-cart .added-tc-wrapper .added-product .name{
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}
#shopping-cart .full-cart .added-tc-wrapper .added-product .price{
    font-weight: 500;
}
#shopping-cart .full-cart .added-tc-wrapper .total{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#shopping-cart .full-cart .added-tc-wrapper .total .total-txt{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}
#shopping-cart .full-cart .added-tc-wrapper .total .call-to-buy{
    width: 100%;
    display: flex;
}
#shopping-cart .full-cart .added-tc-wrapper .total .call-to-buy .btn{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--orange);
    color: var(--white);
    background-color: var(--orange);
}





/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* global */

#d-f-products  .img  img{
    object-fit: cover;
    width: 100%;
    height:100%;
}
#d-f-products .infos{
    font-size: 18px;
}
#d-f-products .rating , .product-card .rating{
    display: flex;
    align-items: center;
}
#d-f-products .rating span{
    height: 20px;
}
#d-f-products .rating span:not(:last-child) , .product-card .rating span:not(:last-child){
    margin-right: 3px;
}
#d-f-products .rating img ,.product-card .rating img{
    width: 20px;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    filter: invert(86%) sepia(36%) saturate(3046%) hue-rotate(357deg) brightness(104%) contrast(104%);
}
.product-card .rating img{
    width: 18px;
    height: 18px;
}
#d-f-products .price{
    display: flex;
}
#d-f-products .real-price{
    margin-right: 8px;
}
#d-f-products .old-price{
   text-decoration: line-through var(--orange);
   color: var(--orange);
}
.wrapper-title{
    padding: 0 6px;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--orange);
    color: var(--orange);
}
.wrapper-title-txt{
    font-size: 24px;
    text-transform:uppercase;
    font-weight: 600;
}



@media (max-width:1250px){
    .p-5{
        padding: 0 4%;
    }
    .footer-container{
        padding-left: 4%;
        padding-right: 4%;
    }

}
@media (max-width:1200px) {
    #d-f-products .d-product .img{
        width: 230px;
        height: 230px;
    }
    #d-f-products .container{
        display: grid;
        grid-template-columns: 2.25fr 1fr;
        gap: 12px;
    }
    #d-f-products .d-product .infos{
        width: calc(100% - 230px);
        padding: 6px;
    }
    #d-f-products .d-product .infos #timer {
        width: 100%;
        padding: 4px;
        border-radius: 4px;
    }
    #d-f-products .d-product .infos #timer .timer-txt{
        font-size: 14px;
        margin-right: 4px;
    } 
    #d-f-products .d-product .infos #timer div {
        margin: 0 4px;
        font-size: 14px;
    }
    #d-f-products  .featured-products .content{
        padding: 12px 4px;
    }
    #d-f-products .f-product{
        justify-content: flex-start;
        padding: 0 6px;
    
    }
    #d-f-products .f-product:not(:last-child){ 
        padding-bottom: 8px;
    }
    #d-f-products .f-product .img{
        width: 82px;
        height: 82px;
        padding: none;
    }
    #d-f-products .featured-products .infos{
        width: calc(100% - 85px);
        padding-left: 6px ;
    }
    #d-f-products .featured-products .infos div:not(:last-child){
        margin-bottom: 4px;
    }
} 
@media (max-width:1024px) {
    #d-f-products .d-product .img{
        width: 220px;
        height: 220px;
    }
    #d-f-products .container{
        grid-template-columns: 2.2fr 1fr;
        gap: 8px;
    }
    #d-f-products .d-product .infos{
        width: calc(100% - 220px);
    }


    header  .h-row-second .col-wrapper.account .btn.customer{
        background-color: transparent;
        height: auto;
        padding-inline: 0px;
        border-radius: 0;
    }
    header  .h-row-second .col-wrapper.account .btn.customer:hover{
        background-color: transparent
    }
    header  .h-row-second .col-wrapper.account .btn.customer .customer-name{
        display: none;
    }
    header  .h-row-second .col-wrapper.account .btn.customer img{
        height: 26px;
        margin-right: 0px;
    }
    header  .h-row-second .col-wrapper.carts .col-el a .icon{
        height: 26px;
        max-height: 26px;
    }
    header  .h-row-second .col-wrapper.carts{
        margin-right: 12px;
    }
    header  .h-row-second .col-wrapper.carts .col-el:not(:last-child){
        margin-right: 12px;
    }
    header  .h-row-second .col-wrapper.account .small-device-btn{
        display: flex;
    }
    header  .h-row-second .col-wrapper.account .small-device-btn img{
        height: 26px;
    }
    header  .h-row-second .col-wrapper.account .btn.login{
        display: none;
    }
    header  .h-row-second .col-wrapper.account .btn.signup{
        display: none;
    }
}
@media (max-width:900px) {
    #d-f-products .container{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 32px;
        
    }
    #d-f-products .d-product .infos{
        padding-left: 16px;
    }
    #d-f-products .featured-products .content{
        display: grid;
        gap: 16px;
        row-gap: 32px;
        grid-template-columns: repeat(2 , 1fr);
        padding: 16px;
    }
    #d-f-products .f-product{
        margin: 0;
        padding: 0;
    }
    #d-f-products .f-product:not(:last-child) {
        margin-bottom: 0px;
    }
    #d-f-products .f-product:not(:first-child) {
        padding-top: 0px;
    }
    #d-f-products .f-product .img{
        width: 110px;
        height: 110px;
        padding: none;
    }
    #d-f-products .featured-products .infos{
        width: calc(100% - 116px);
        padding-left: 6px ;
    }
    #d-f-products .f-product:not(:last-child) {
        padding-bottom: 0px;
    }
    #d-f-products .content .f-product:nth-child(n + 4){
        display: flex;
    }
    #d-f-products .content .f-product:nth-child(n + 7){
        display: none;
    }
    #d-f-products .featured-products .infos .name-txt{
        font-size: 20px;
    }
    #d-f-products .featured-products .infos .price{
        font-size: 20px;
    }
    #d-f-products .featured-products .infos .price .real-price{
        font-size: 22px;
    }
    #d-f-products .featured-products .infos div:not(:last-child){
        margin-bottom: 8px;
    }
    .products-cards-wrapper{
        grid-template-columns: repeat(3 , 1fr);
        gap: 16px;
        row-gap: 32px;
    }
    

    #shopping-cart{
        width: 320px;
        max-height: 100vh;
    }   
    header  .h-row-second .col-wrapper.search-input input{
        height: 32px;
        width: 220px;
    }
    header  .h-row-second .col-wrapper.search-input label{
        height: 32px;
        width: 32px;
    }
    header  .h-row-second .col-wrapper.search-input label img{
        width: 22px;
        height: 22px;
    }
}
@media (max-width:768px) {
    body{
        padding-top: 180px;
    }
    .p-5{
        padding: 0 16px;
    }
    #d-f-products .d-product .img{
        width: 200px;
        height: 200px;
    }
    #d-f-products .d-product .infos{
        width: calc(100% - 200px);
    }
    #d-f-products .d-product .infos .products-data div:not(:last-child){
        margin-bottom: 8px; 
    }
    #d-f-products .d-product .infos .products-data{
        margin-top: 12px;
        padding-left: 4px;
    }
    #d-f-products .d-product .infos .products-data .buy-btn{
        height: 32px;
        font-size: 16px;
    }
    #d-f-products .f-product .img{
        width: 100px;
        height: 100px;
        padding: none;
    }
    #d-f-products .featured-products .infos{
        width: calc(100% - 106px);
        padding-left: 6px ;
    }
    #d-f-products .featured-products .infos{
        font-size: 18px;
    }
    #d-f-products .featured-products .infos .name-txt{
        display: -webkit-box;
        -webkit-line-clamp: 2; 
                line-clamp: 2; 
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
    }
    #d-f-products .featured-products .content{ 
        gap: 12px;
        row-gap: 24px;
    }
    #d-f-products .featured-products .rating img {
        width: 18px;
        width:18px
    }
    #d-f-products .featured-products .infos div:not(:last-child){
        margin-bottom: 6px;
    }
    #d-f-products .featured-products .infos .price{
        font-size: 18px;
    }
    #d-f-products .featured-products .infos .price .real-price{
        font-size: 20px;
    }
    .wrapper-title-txt{
        font-size: 24px;
        font-weight: 700;
    }
    

    /* footer */
    .row1 { grid-area: row1;}
    .row2 { grid-area: row2; }
    .row3 { grid-area: row3; }
    .row{
        width: 100%;
    }
    .footer-container .content{
        width: 100%;
        display: grid;
        grid-template-areas:
                'row2  row3'
                'row1  row1';
        gap: 32px;
        column-gap:16px; 
        grid-template-columns: 1fr 1fr;
    }


    header .h-row-second{
        height: auto;
    }
    header .h-row-second .col-wrapper{
        height: 40px;
    }
    header .h-row-second .container .col-wrapper{
        width: 100%;
    }
    header .h-row-second .container .logo{
        grid-area: logo;
    }
    header .h-row-second .container .carts{
        grid-area: carts;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right: 12px;
    }
    header .h-row-second .container .search-input{
        grid-area: search;
    }
    header .h-row-second .container .account{
        grid-area: account;
    }
    header .h-row-second .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
                'logo  carts account'
                'search  search search';
        row-gap: 12px;
    }
    header .h-row-second .col-wrapper.search-input input{
        height: 34px;
        border-radius: 4px 0 0 4px;
        width: calc(100% - 34px);
    }
    header .h-row-second .col-wrapper.search-input label{
        height: 34px;
        width: 36px;
        border-radius: 0 2px 2px 0;
    }
    header .h-row-second .col-wrapper.search-input label img{
        height: 20px;
        width: 20px;
    }
    
}
@media (max-width:600px) {
    body{
        padding-top: 170px;
    }
    .p-5{
        padding: 0 24px;
    }
    #d-f-products .d-product{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
    }
    #d-f-products .d-product .img{
        width: 340px;
        height: 340px;
    }
    #d-f-products .d-product .infos{
        width: 100%;
        font-size: 18px;
        margin: 0;
        padding: 0;
        padding-inline: 12px;
        margin-top: 32px;
    }
    #d-f-products .d-product .infos .products-data .price{
        font-size: 22px;
        font-weight: 400;
        display: flex;
        align-items: baseline;
    }
    #d-f-products .d-product .infos .products-data .price .old-price{
        font-size: 18px;
    }
    #d-f-products .d-product .infos .products-data div:not(:last-child){
        margin-bottom: 8px; 
    }
    #d-f-products .d-product .infos .products-data{
        margin-top: 16px;
        padding-left: 0px;
    }
    #d-f-products .featured-products .content{
        display: grid;
        gap: 16px;
        grid-template-columns: 1fr;
        padding: 16px;
    }
    #d-f-products .content .f-product:nth-child(n + 4){
        display: none;
    }
    #d-f-products .featured-products .infos .name-txt{
        font-weight: 300;
        font-size: 20px;
        line-height: 26px;
    }
    #d-f-products .featured-products .infos .price{
        font-size: 20px;
    }
    #d-f-products .featured-products .infos .price .real-price{
        font-size: 22px;
    }
    #d-f-products .f-product .img{
        width: 126px;
        height: 126px;
        padding: none;
    }
    #d-f-products .featured-products .infos{
        width: calc(100% - 132px);
        padding-left: 6px ;
    }
    #d-f-products .featured-products .content{
        row-gap: 32px;
    }
    #d-f-products .d-product .infos .products-data .buy-btn{
        height: 42px;
        font-size: 20px;
    }
    #d-f-products .f-product{
        align-items: center;
    }
    .wrapper-title{
        padding: 0 6px;
        height: 40px;
    }
    .wrapper-title-txt{
        font-size: 22px;
    }
    .products-cards-wrapper{
        grid-template-columns: repeat(2 , 1fr);
        gap: 16px;
        row-gap: 32px;
    }
    .product-card .product-name {
        margin-bottom: 8px;
        font-size: 20px;
        min-height: 62px;
    }
    .product-card .product-price{
        line-height: 28px;
    }
    .product-card .product-price .old-price{
        font-size: 18px;
        font-weight: 300;
    }
    .product-card .cta{
        
    }
    .product-card .buy-now-btn {
        width: 100%;
        height: 44px;
        font-size: 20px;
        color: var(--black);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--black);
        transition: all 0.3s ease;
    }




    .logo-wrapper img {
        height: 44px;
    }

    #shopping-cart{
        width: 100%;
        max-height: 100vh;
    }
    #shopping-cart .container .empty-cart .img img{
        width: 10%;
    }

    header  .h-row-second .col-wrapper{
        height: 35px;
    }
    header .h-row-first {
        height: 36px;
    }
    header.scrolling {
        transform: translateY(-36px);
    }
    header .h-row-first .container{
        justify-content: center;
    }
    header .h-row-first .col-wrapper:nth-child(2){
        display: none;
    }
    header .h-row-first .col-wrapper p{
        font-size: 16px;
    }

    header .h-row-second .col-wrapper.logo a {
        height: 32px;
        max-height: 160px;
    }
    header  .h-row-second .col-wrapper.carts .col-el a .icon{
        height: 22px;
        max-height: 22px;
        margin-right: 2px;
    }
    header  .h-row-second .col-wrapper.account .btn.customer img{
        height: 22px;
        margin-right: 0;
    }
    header  .h-row-second .col-wrapper.account .small-device-btn img{
        height: 22px;
    }
    header  .h-row-second .col-wrapper.carts .col-el a .txt{
        line-height: 12px;
        font-size: 11px;
        font-weight: 500
    }
}
@media (max-width:480px) {
    .p-5{
        padding: 0 16px;
    }
    #d-f-products .d-product .img{
        width: 280px;
        height: 280px;
        padding: 0;
    }
    #d-f-products .d-product .infos{
        width: 100%;
        font-size: 18px;
        margin: 0;
        padding: 0;
        padding-inline: 4px;
        margin-top: 16px;
    }
    #d-f-products .d-product .infos .price{
        font-size: 21px;
    }
    #d-f-products .d-product .infos .products-data div:not(:last-child){
        margin-bottom: 8px; 
    }
    #d-f-products .d-product .infos .products-data{
        margin-top: 12px;
        padding-left: 0px;
    }
    #d-f-products .featured-products .content{
        display: grid;
        gap: 16px;
        grid-template-columns: 1fr;
        padding: 8px;
    }
    #d-f-products .featured-products .infos{
        width: calc(100% - 106px);
        padding-left: 6px;
        font-size: 18px;
    }
    #d-f-products .f-product .img{
        width: 100px;
        height: 100px;
        padding: none;
    }
    #d-f-products .d-product .infos .products-data .buy-btn{
        height: 44px;
        font-size: 18px;
        margin-top: 8px;
    }
    #d-f-products .d-product .infos #timer {
        width: 100%;
        padding: 4px;
        border-radius: 4px;
        padding-block: 6px;
    }
    #d-f-products .d-product .infos #timer .timer-txt{
        display: none;
    } 
    #d-f-products .d-product .infos #timer div {
        margin: 0 2px;
        font-size: 16px;
    }
    #d-f-products .featured-products .infos .name-txt{
        display: -webkit-box;
        -webkit-line-clamp: 1; 
                line-clamp: 1; 
    }
    #d-f-products .featured-products .infos .price .real-price{
        font-size: 20px;
        font-weight: 400;
    }
    #d-f-products .featured-products .infos .price .old-price{
        font-size: 18px;
        font-weight: 300;
    }
    .products-cards-wrapper{
        grid-template-columns: repeat(1 , 1fr);
        gap: 16px;
        row-gap: 16px;
    }
    .product-card {
        max-width: 100%;
        width: 86%;
        margin: 0 auto;
        padding: 8px;
        padding-block: 16px;
    }
    
    .logo-wrapper img {
        height: 34px;
    }
    #shopping-cart .container .empty-cart .img img{
        width: 20%;
    }
    header .h-row-second .logo a{
        height: 34px;
    }
    header .h-row-second .logo img{
        height: 34px;
    }
}
@media (max-width:400px) {
    .product-card {
        max-width: 100%;
        width: 96%;
        margin: 0 auto;
        padding: 8px;
        padding-block: 16px;
    }

    
    header  .h-row-second .col-wrapper.carts .col-el:not(:last-child){
        margin-right: 6px;
    }
    header .h-row-second .container .carts{
        padding-right: 6px;
    }
    header  .h-row-second .col-wrapper.carts .col-el.favorite a .txt{
        display: none;
    }
    header .h-row-second .col-wrapper.logo a {
        height: 30px;
        max-height: 150px;
    }
    header  .h-row-second .col-wrapper.carts .col-el a .icon{
        height: 22px;
        max-height: 22px;
    }
    header  .h-row-second .col-wrapper.account .btn.customer img{
        height: 22px;
    }
}
@media (max-width:370px) {
    .footer-container .content{
    width: 100%;
    display: grid;
    grid-template-areas:
            'row2  row2'
            'row3  row3'
            'row1  row1';
    gap: 32px;
    column-gap:16px; 
    grid-template-columns: 1fr 1fr;
}
header .h-row-second .logo a{
    height: 30px;
}
header .h-row-second .logo img{
    height: 30px;
}
header .h-row-second .col-wrapper.search-input input{
    height: 30px;
    width: calc(100% - 28px);
}
header .h-row-second .col-wrapper.search-input label{
    height: 30px;
    width: 34px;
}
header .h-row-second .col-wrapper.search-input label img{
    height: 20px;
    width: 20px;
}
header .h-row-second .col-wrapper.carts .col-el .icon{ 
    width: 24px;
    height: 24px;
    margin-right: 2px;
}
header .h-row-second .col-wrapper.carts .col-el .txt{ 
    font-size: 9px;
    line-height: 10px;
}
header .h-row-third .col-wrapper.navlinks .col-el a{
    font-size: 16px;
}
}
@media (max-width:350px) {
    .product-card {
        width: 100%;
    }
}
@media (max-width:319px) {
    #d-f-products .d-product .infos #timer div {
        margin: 0 2px;
        font-size: 14px;
    }
}

