@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
}
:root{
  --black:#091B1A;
  --black02:#091b1a33;
  --black08:hsla(177, 47%, 7%, 0.9);
  --warm-brown:#5D4A39;
  --soft-brown:#A96F47;
  --soft-brown02:#a96e4733;
  --yellow:#FBCE02;
  --somo:#F27B57;
  --somob1:#e96c46;
  --white:#fffbf9;
}




#product-data-page{

}
#product-data-page .container{
    width: 100%;
}
#product-data-page .container .content{
  width: 100%;
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
}
#product-data-page .container .content .row.product-media{
  width: 42%;
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 116px;
}
#product-data-page .container .content .row.product-infos{
  width: 58%;
  flex-grow: 1;
  padding-left: 32px;
}
#product-data-page .container .content .row{
  min-height: 150px;
}
  
#product-data-page .row .pp--slider-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#product-data-page .row .pp--slider-wrapper .main-img{
  width: 100%;
  position:relative;
  border: 1px solid var(--black);
}
#product-data-page .row .pp--slider-wrapper .main-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
#product-data-page .row .pp--slider-wrapper .slider-imgs{
  width: 100%;
  height: 80px;
  margin-top: 12px;
  position: relative;
  display: flex;
}
#product-data-page .row .pp--slider-wrapper .slider-imgs .imgs{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: mandatory;
}
#product-data-page .row .pp--slider-wrapper .slider-imgs .imgs::-webkit-scrollbar{
  display: none;
}
#product-data-page .row .pp--slider-wrapper .slider-imgs .imgs .img{
  height: 100%;
  width: 80px;
  min-width: 80px;
  cursor: pointer;
  border: 1px solid var(--black);
  transition: all 0.2s ease;
  padding: 0;
}
#product-data-page .row .pp--slider-wrapper .slider-imgs .imgs .img:hover{
  filter: brightness(0.75);
}
#product-data-page .row .pp--slider-wrapper .slider-imgs .imgs .img:not(:last-child){
  margin-right: 8px;
}
#product-data-page .row .pp--slider-wrapper .slider-imgs .imgs .img img{ 
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  /* object-fit: ; */
}

#product-data-page .row .pp--slider-wrapper .slide-btn{
  width: 24px;
  height: 34px;
  background-color: var(--black08);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  transform: translateY(-50%);
  top: 50%;
  cursor: pointer;
}
#product-data-page .row .pp--slider-wrapper .slide-btn img{
  width: 22px;
  height: 22px;
  filter: invert(97%) sepia(6%) saturate(233%) hue-rotate(352deg) brightness(101%) contrast(101%);
}
#product-data-page .row .pp--slider-wrapper .slide-btn-r{
  right: 0px;
}
#product-data-page .row .pp--slider-wrapper .slide-btn-l{
  left: 0;
}
#product-data-page .row .pp--slider-wrapper .slider-imgs .slide-btn{
  width: 20px;
  height: 28px;
}

/* product infos */
#product-data-page .row.product-infos{
  height: auto;
}
#product-data-page .row.product-infos .info-part{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
#product-data-page .row.product-infos .info-part div:not(:last-child){
  margin-bottom: 8px;
}
#product-data-page .row.product-infos .info-part .pi--stock{
  padding: 4px 24px;
  font-size: 14px;
  font-weight: 500;
  border: 2px solid var(--somo);
  border-radius: 4px;
  color: var(--somo);
}
#product-data-page .row.product-infos .info-part .pi--name .pi--name-txt{
  font-size: 18px;
  font-weight: 400;
  text-transform:capitalize;
}
#product-data-page .row.product-infos .info-part .pi--rating{
  display: flex;
  align-items: center;
}


#product-data-page .row.product-infos .info-part .pi--rating span{
  height: 18px;
  display: flex;
  font-size: 14px;
}
#product-data-page .row.product-infos .info-part .pi--rating span.staring-number{
  margin-left: 4px;
  color: var(--black08);
}
#product-data-page .row.product-infos .info-part .pi--rating span:not(:last-child){
  margin-right: 4px;
}
#product-data-page .row.product-infos .info-part .pi--rating img{
  width: 18px;
  height: 18px;
  max-height: 18px;
  max-width: 18px;
  filter: invert(86%) sepia(36%) saturate(3046%) hue-rotate(357deg) brightness(104%) contrast(104%);
}
#product-data-page .row.product-infos .info-part .pi--price{
  font-size: 26px;
  font-weight: 600;
  display: flex;
  align-items: baseline;
}
#product-data-page .row.product-infos .info-part .pi--price .old-price{
  font-size: 22px;
  font-weight: 500;
  text-decoration: line-through var(--somo);	
  color: var(--somo);
  margin-left: 16px;
}
#product-data-page .row.product-infos .info-part div.pi--separator{
  width: 100%;
  height: 1px;
  background-color: var(--black02);
  margin-bottom: 32px;
}
#product-data-page .row.product-infos .info-part .pi--cta{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 24px;
}
#product-data-page .row.product-infos .info-part .pi--cta .col{
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
}
#product-data-page .row.product-infos .info-part .pi--cta .col1{
  display: grid;
  grid-template-columns: 1.1fr 0.1fr;
  column-gap: 8px;
}
#product-data-page .row.product-infos .info-part .pi--cta .col:not(:last-child){
  margin-bottom: 8px;
}
#product-data-page .row.product-infos .info-part .pi--cta .col .cta-btn{
  height: 100%;
  width: 100%;
}
#product-data-page .row.product-infos .info-part .pi--cta .col .buynow{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 26px;
  border: 1px solid var(--black);
  background-color: var(--black);
  color:var(--white);
  transition: all 0.3s ease;
}
#product-data-page .row.product-infos .info-part .pi--cta .col .addtc{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 26px;
  border: 1px solid var(--black);
  color:var(--black);
  transition: all 0.3s ease;
}
#product-data-page .row.product-infos .info-part .pi--cta .col .addtc:hover , #product-data-page .row.product-infos .pi--cta .col .buynow:hover{
  border: 1px solid var(--somo);
  background-color: var(--somo);
  color:var(--white);
}
#product-data-page .row.product-infos .info-part .pi--cta .fav{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--black);
}
#product-data-page .row.product-infos .info-part .pi--cta .fav img{
  width: 20px;
}
/* description part */
#product-data-page .row.product-infos .description-part{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 32px;
}
#product-data-page .row.product-infos .description-part .header-title{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--somo);
}
#product-data-page .row.product-infos .description-part .header-title-txt{
  color: var(--somo);
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}
#product-data-page .row.product-infos .description-part .description-content-wrapper{
  padding-top: 16px;
  font-size: 18px;
  width: 100%;
}
#product-data-page .row.product-infos .description-part .description-content-wrapper .d-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#product-data-page .row.product-infos .description-part .description-content-wrapper .d-content img{
  max-width: 70%;
}
#product-data-page .row.product-infos .description-part .description-content-wrapper .d-content > *:not(:last-child){
  margin-bottom: 16px;
}



/* ------------------------------------------------- */
/* product-testimonials styling */
#product-testimonials{
  width: 100%;
  margin-top: 64px ;
}
#product-testimonials .container{
  width: 100%;
}
#product-testimonials .container .header-title{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--somo);
}
#product-testimonials .container .header-title-txt{
  color: var(--somo);
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}
#product-testimonials .container .content{
  width: 100%;
  padding-top: 16px;
}
#product-testimonials .container .content .testimonials-wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  row-gap: 16px;
  column-gap: 16px;
}
#product-testimonials .container .content .testimonials-wrapper .testimonial-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

#product-testimonials .container .content .testimonials-wrapper .testimonial-image {
  margin-bottom: 20px;
}

#product-testimonials .container .content .testimonials-wrapper .testimonial-image img {
  max-width: 100%;
  border-radius: 50%;
}

#product-testimonials .container .content .testimonials-wrapper .testimonial-content {
  text-align: center;
}

#product-testimonials .container .content .testimonials-wrapper .testimonial-text {
  font-style: italic;
  margin-bottom: 10px;
  font-size: 14px;
}

#product-testimonials .container .content .testimonials-wrapper .testimonial-name {
  font-weight: bold;
  font-size: 14px;
}



@media (max-width:1024px){
  #product-data-page .row .pp--slider-wrapper .slider-imgs{
    height: 60px;
    margin-top: 12px;
  }
  #product-data-page .row .pp--slider-wrapper .slider-imgs .imgs .img{
    height: 100%;
    width: 60px;
    min-width: 60px;
  }
  #product-data-page .row .pp--slider-wrapper .slider-imgs .imgs .img:not(:last-child){
    margin-right: 8px;
  }
  #product-data-page .row .pp--slider-wrapper .slider-imgs .slide-btn{
    width: 18px;
    height: 24px;
  }
  #product-data-page .row.product-infos .pi--cta .col1{
    grid-template-columns: 1fr 0.13fr;
  }
}
@media (max-width:900px){
  #product-data-page .row.product-infos .info-part .pi--cta .col1{
    grid-template-columns: 1.1fr 0.17fr;
    column-gap: 6px;
  }
}
@media (max-width:768px){
  #product-data-page .container .content{
    display: flex;
    flex-direction: column;
  }
  #product-data-page .row .pp--slider-wrapper{
    width: 85%;
    margin: 0 auto;
     
  }
  #product-data-page .row .pp--slider-wrapper .slider-imgs{
    height: 75px;
    margin-top: 16px;
  }
  #product-data-page .row .pp--slider-wrapper .slider-imgs .imgs .img{
    height: 100%;
    width: 75px;
    min-width: 75px;
  }
  #product-data-page .row .pp--slider-wrapper .slider-imgs .imgs .img:not(:last-child){
    margin-right: 8px;
  }
  #product-data-page .row .pp--slider-wrapper .slider-imgs .slide-btn{
    width: 20px;
    height: 28px;
  }
  #product-data-page .container .content .row.product-media{
    width:100%;
    position:unset;  
  }
  #product-data-page .container .content .row.product-infos{
    width: 100%;
    padding-left: 0px;
    padding-top: 40px;
  }
  #product-data-page .row.product-infos .info-part{
    width: 85%;
    margin-left:auto;
    margin-right: auto;
  }
  #product-data-page .row.product-infos .description-part{
    width: 85%;
    margin-inline: auto;
  }
  #product-testimonials .container .content .testimonials-wrapper{
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
  }
  #product-testimonials .container .header-title{
    width: 85%;
    margin-inline: auto;
  }
  #product-testimonials .container .content{
    width: 85%;
    margin-inline: auto;  
  }
  #product-testimonials{
    margin-top: 32px ;
  }
  #product-data-page .row.product-infos .info-part .pi--cta .col1{
    grid-template-columns: 1.1fr 0.1fr;
    column-gap: 6px;
  }
}
@media (max-width:600px){
  #product-data-page .container .content{
    display: flex;
    flex-direction: column;
  }
  #product-data-page .row .pp--slider-wrapper{
    width: 85%;
    margin: 0 auto;
     
  }
  #product-data-page .row .pp--slider-wrapper .slider-imgs{
    height: 80px;
    margin-top: 16px;
  }
  #product-data-page .row .pp--slider-wrapper .slider-imgs .imgs .img{
    height: 100%;
    width: 80px;
    min-width: 80px;
  }
  #product-data-page .row .pp--slider-wrapper .slider-imgs .imgs .img:not(:last-child){
    margin-right: 8px;
  }
  #product-data-page .row .pp--slider-wrapper .slider-imgs .slide-btn{
    width: 20px;
    height: 28px;
  }
  #product-data-page .container .content .row.product-media{
    width:100%;
    position:unset;  
  }
  #product-data-page .container .content .row.product-infos{
    width: 100%;
    padding-left: 0px;
    padding-top: 40px;
  }
}
@media (max-width:560px){
  #product-data-page .row .pp--slider-wrapper{
    width: 90%;
  }
  #product-data-page .row.product-infos .info-part{
    width: 90%;
  }
  #product-data-page .row.product-infos .description-part{
    width: 90%;
  }
  #product-testimonials .container .header-title{
    width: 90%;
  }
  #product-testimonials .container .content{
    width: 90%;
  }
}
@media (max-width:520px){
  #product-data-page .row .pp--slider-wrapper{
    width: 95%;
  }
  #product-data-page .row.product-infos .info-part{
    width: 95%;
  }
  #product-data-page .row.product-infos .description-part{
    width: 95%;
  }
  #product-testimonials .container .header-title{
    width: 95%;
  }
  #product-testimonials .container .content{
    width: 95%;
  }
  #product-data-page .row.product-infos .info-part .pi--cta .col1{
    grid-template-columns: 1.1fr 0.17fr;
    column-gap: 6px;
  }
}
@media (max-width:480px){
  #product-data-page .row .pp--slider-wrapper{
    width: 100%;
  }
  #product-data-page .row.product-infos .info-part{
    width: 100%;
  }
  #product-testimonials .container .header-title{
    width: 100%;
  }
  #product-testimonials .container .content{
    width: 100%;
  }
  #product-data-page .row.product-infos .description-part{
    width: 100%;
  }
  #product-data-page .row .pp--slider-wrapper .slider-imgs{
    height: 68px;
    margin-top: 16px;
  }
  #product-data-page .row .pp--slider-wrapper .slider-imgs .imgs .img{
    height: 100%;
    width: 68px;
    min-width: 68px;
  }
  #product-data-page .row .pp--slider-wrapper .slider-imgs .imgs .img:not(:last-child){
    margin-right: 8px;
  }
  #product-data-page .row .pp--slider-wrapper .slider-imgs .slide-btn{
    width: 18px;
    height: 24px;
  }
}
@media (max-width:400px){
  #product-data-page .row .pp--slider-wrapper .slider-imgs{
    height: 60px;
    margin-top: 12px;
  }
  #product-data-page .row .pp--slider-wrapper .slider-imgs .imgs .img{
    height: 100%;
    width: 60px;
    min-width: 60px;
  }
  #product-data-page .row .pp--slider-wrapper .slider-imgs .imgs .img:not(:last-child){
    margin-right: 8px;
  }
  #product-data-page .row .pp--slider-wrapper .slider-imgs .slide-btn{
    width: 18px;
    height: 24px;
  }
}